<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commonUI/res/cs/MainUI/baibao.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,193},{70,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/Cards_main.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,1},{74,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/chuzheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,195},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/fuli.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,1},{110,93}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,95}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/gongh.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,204},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/hec.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,132},{81,94}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,96}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/main_mission.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,99},{77,89}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,129}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/main_qix.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,237},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/main_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,99},{76,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,96}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/main_tiant.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,246},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/main_youx.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,272},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/main_zhaom.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,279},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/main_zhucheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,190},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/shoucdalib.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,82},{134,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,105}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/qiandao.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,1},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/qianghua.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,186},{74,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,96}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/shilian.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,232},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/VIP.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,194},{89,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,76}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/xianssj.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,1},{117,103}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,105}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/xuezhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,274},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/zhen.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,94},{78,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,91}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/zhuangb.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,1},{79,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,95}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/main_mission_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,1},{127,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,129}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/chengjiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,96},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/libao.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,97},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/lingjiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,106},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/p3.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,285},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/chongsheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,175},{83,91}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,93}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/gvgTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,314},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/huangg.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,268},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/guogzj.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,288},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{241,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,79}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/VIP_bz.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,185},{46,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,25}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/zhandouli.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,228},{72,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,32}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/jianghun.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,185},{81,92}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,99}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/huodongText.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,310},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/qrkh.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,82},{105,91}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,91}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/jierikuanghuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,1},{122,94}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,94}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>MainUI_Text.png</string>
			<key>realTextureFileName</key>
			<string>MainUI_Text.png</string>
			<key>size</key>
			<string>{984,355}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>984</integer>
			<key>height</key>
			<integer>355</integer>
		</dict>
	</dict>
</plist>