<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commonUI/res/cs/MainUI/baibao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,381},{70,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/Cards_main.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,193},{74,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/chuzheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,378},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/fuli.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,97},{110,93}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,95}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/gongh.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,418},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/hec.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,99},{81,94}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,96}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/main_mission.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,290},{77,89}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,129}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/main_qix.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,99},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/main_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,286},{76,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,96}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/main_tiant.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,99},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/main_youx.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,99},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/main_zhaom.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,141},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/main_zhucheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,141},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/shoucdalib.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,82},{134,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,105}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/qiandao.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,1},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/qianghua.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,290},{74,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,96}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/shilian.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,141},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/VIP.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,318},{89,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,76}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/xianssj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,185},{117,103}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,105}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/xuezhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,183},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/zhen.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,286},{78,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,91}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/zhuangb.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,225},{79,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,95}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/main_mission_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,1},{127,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,129}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/chengjiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,1},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/libao.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,1},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/lingjiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,1},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/p3.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,195},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/chongsheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,100},{83,91}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,93}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/gvgTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,183},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/huangg.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,183},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/guogzj.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,225},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{241,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,79}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/VIP_bz.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,192},{46,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,25}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/zhandouli.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,384},{72,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,32}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/jianghun.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,192},{81,92}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,99}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/huodongText.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,237},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/qrkh.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,132},{105,91}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,91}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/jierikuanghuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,1},{122,94}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,94}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/renwu.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,1},{108,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,97}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/shibing.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,82},{96,113}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,114}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/tuijianzhenrong.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,197},{102,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,91}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>MainUI_Text.png</string>
			<key>realTextureFileName</key>
			<string>MainUI_Text.png</string>
			<key>size</key>
			<string>{1019,472}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1019</integer>
			<key>height</key>
			<integer>472</integer>
		</dict>
	</dict>
</plist>