<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cs/ui_res/MainIcon/Ani_mainGate.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,269},{121,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,109}</string>
			</dict>
			<key>cs/ui_res/MainIcon/arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,333},{80,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,61}</string>
			</dict>
			<key>cs/ui_res/MainIcon/headdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,324},{83,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,83}</string>
			</dict>
			<key>cs/ui_res/MainIcon/headout.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,227},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>cs/ui_res/MainIcon/hideBt.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,227},{80,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,90}</string>
			</dict>
			<key>cs/ui_res/MainIcon/level.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,361},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>cs/ui_res/MainIcon/main_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,333},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>cs/ui_res/MainIcon/main_service.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,269},{64,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,90}</string>
			</dict>
			<key>cs/ui_res/MainIcon/namebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,409},{144,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,34}</string>
			</dict>
			<key>cs/ui_res/MainUI/beijing.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,380},{450,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,66}</string>
			</dict>
			<key>cs/ui_res/MainUI/information_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,1},{400,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,180}</string>
			</dict>
			<key>cs/ui_res/MainUI/main_shu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,183},{263,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,107}</string>
			</dict>
			<key>cs/ui_res/MainUI/main_shu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{435,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{435,224}</string>
			</dict>
			<key>cs/ui_res/MainUI/main_youxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,1},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>cs/ui_res/MainUI/main_youxiang_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,135},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>cs/ui_res/MainUI/main_mission.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,319},{76,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,93}</string>
			</dict>
			<key>cs/ui_res/MainUI/main_mission_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,183},{127,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,129}</string>
			</dict>
			<key>cs/ui_res/MainUI/p2.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,292},{142,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,19}</string>
			</dict>
			<key>cs/ui_res/MainUI/phb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,227},{89,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,104}</string>
			</dict>
			<key>cs/ui_res/MainUI/phb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,227},{89,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,104}</string>
			</dict>
			<key>cs/ui_res/MainIcon/help.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,292},{78,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,92}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>MainUI.png</string>
			<key>realTextureFileName</key>
			<string>MainUI.png</string>
			<key>size</key>
			<string>{1020,447}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>447</integer>
		</dict>
	</dict>
</plist>