<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tyj/ui_res/TaskUI/namebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,461},{186,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,34}</string>
			</dict>
			<key>tyj/ui_res/TaskUI/task_box1.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,489},{87,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,77}</string>
			</dict>
			<key>tyj/ui_res/TaskUI/task_box2.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,321},{87,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,76}</string>
			</dict>
			<key>tyj/ui_res/TaskUI/task_box3.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,409},{87,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,78}</string>
			</dict>
			<key>tyj/ui_res/TaskUI/task_box4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,226},{87,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,76}</string>
			</dict>
			<key>tyj/ui_res/TaskUI/tdfb.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,1},{100,100}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>tyj/ui_res/TaskUI/ttjjc.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,1},{100,100}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>tyj/ui_res/TaskUI/wjsj.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,103},{100,100}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>tyj/ui_res/TaskUI/xzly.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,103},{100,100}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>tyj/ui_res/TaskUI/yxsl.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,117},{100,100}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>tyj/ui_res/TaskUI/zcrw.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,219},{100,100}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>tyj/ui_res/TaskUI/zmsj.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,205},{100,100}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>tyj/ui_res/TaskUI/czrw.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,205},{100,100}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>tyj/ui_res/TaskUI/jygq.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,307},{100,100}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>tyj/ui_res/TaskUI/qxt.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,307},{100,100}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>tyj/ui_res/TaskUI/sbqh.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,409},{100,100}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>tyj/ui_res/TaskUI/yiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,117},{600,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,107}</string>
			</dict>
			<key>tyj/ui_res/TaskUI/chengjiu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,117},{55,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,170}</string>
			</dict>
			<key>tyj/ui_res/TaskUI/chengjiu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,289},{55,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,170}</string>
			</dict>
			<key>tyj/ui_res/TaskUI/renwu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,205},{55,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,170}</string>
			</dict>
			<key>tyj/ui_res/TaskUI/renwu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,377},{55,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,170}</string>
			</dict>
			<key>tyj/ui_res/TaskUI/jindutiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,540},{780,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{780,20}</string>
			</dict>
			<key>tyj/ui_res/TaskUI/jindutiao-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,511},{790,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{790,27}</string>
			</dict>
			<key>tyj/ui_res/TaskUI/chengjiu-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{796,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{796,114}</string>
			</dict>
			<key>tyj/ui_res/TaskUI/bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,117},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>TaskUI.png</string>
			<key>realTextureFileName</key>
			<string>TaskUI.png</string>
			<key>size</key>
			<string>{1022,567}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>567</integer>
		</dict>
	</dict>
</plist>