<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commonUI/res/lk/UnionUI/chazhao.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,124},{60,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,29}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/chazhaogonghui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1086,59},{116,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,30}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/chengyuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1082,91},{110,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,22}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/chuangjian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1076,115},{60,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,30}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/chuangjiangonghui.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,68},{116,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,30}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/chuangjianhuafei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1843,112},{110,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,24}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuiguanli.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,82},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuiID.png</key>
			<dict>
				<key>frame</key>
				<string>{{1956,59},{85,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,22}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuiliuyan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,100},{116,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,32}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuimingcheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1845,62},{108,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuitubiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,100},{110,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,22}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuixuanyan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1845,87},{108,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/jiaru.png</key>
			<dict>
				<key>frame</key>
				<string>{{1967,1},{60,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/jiarugonghui.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,55},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/mobai.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,130},{60,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,32}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/mobaidashen.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,47},{115,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,33}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/tuanduifuben.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,172},{114,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/tuichugonghui.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,97},{116,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,30}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/xiugai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1955,83},{60,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/xuyaoXXji.png</key>
			<dict>
				<key>frame</key>
				<string>{{1583,90},{129,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,22}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuileixing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1355,64},{110,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/querenxiugai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,1},{116,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,32}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/ruhuizuixiaodengji.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,105},{158,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonggaoxiugai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1355,35},{113,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,27}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuiliuyan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1513,1},{112,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,28}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuirizhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1729,88},{112,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,26}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuirizhi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,121},{116,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,30}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuishezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1617,32},{112,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,27}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/xuanzetubiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1737,1},{113,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,27}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/fasong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1956,34},{86,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/chengyuanguanli.png</key>
			<dict>
				<key>frame</key>
				<string>{{1852,1},{113,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,27}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/fubentiaozhancishu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,71},{148,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,27}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuichengyuanshuliang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,1},{156,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/qirihuoyuegongxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,1},{148,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,27}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/zuihoushangxianshijian.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,26},{147,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,27}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/mianfeimobai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1316,89},{96,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/xuanzemobaifangshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,39},{169,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,30}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gongxianhuoyue.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,1},{196,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/shangxianshijian.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,114},{158,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/chexiaozhanglao.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,30},{116,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,32}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/shengweihuizhang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,134},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/shengweizhanglao.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,55},{116,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,32}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/tichugonghui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1283,1},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/ruhuishenqing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1470,63},{111,26}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,26}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/chengyuanguanli2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,26},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuishezhi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,35},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/jiesangonghui.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,64},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/quanyuanyoujian.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,88},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/ruhuishenqing2.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,122},{116,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,30}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/xiugaigonggao.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,89},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gongdafuben.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,115},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/kaiqifuben.png</key>
			<dict>
				<key>frame</key>
				<string>{{1627,1},{108,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,29}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/tuanduifuben2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1617,61},{110,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,27}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/yaoqiugonghuihuoyuedu.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,89},{168,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/jinrimobaicishu.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,64},{206,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/leijilingqujiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,39},{215,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/lingqujiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,163},{115,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/mobaidashen2.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,148},{111,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,29}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/fenlei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{490,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{490,36}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/ghjx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1731,59},{112,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,27}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/jbjx.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,39},{102,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,30}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/jbjx_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,164},{102,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,30}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/jrjx.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,71},{110,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,32}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/jrjx_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,200},{110,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,32}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/juanxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1955,116},{60,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/lsjx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1401,1},{110,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,32}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/lsjx_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1243,34},{110,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,32}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/ybjx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1513,31},{102,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,30}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/ybjx_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1852,30},{102,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,30}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuijuanxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,130},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/xiaohao.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,26},{40,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,20}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/shengjigonghui.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,139},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuishengji.png</key>
			<dict>
				<key>frame</key>
				<string>{{1737,30},{113,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,27}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuidengji.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,68},{110,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuishangdian.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,1},{164,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,44}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuishop.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,167},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/suoyouchengyuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1194,93},{96,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,23}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>UnionUI_Text.png</string>
			<key>realTextureFileName</key>
			<string>UnionUI_Text.png</string>
			<key>size</key>
			<string>{2043,233}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2043</integer>
			<key>height</key>
			<integer>233</integer>
		</dict>
	</dict>
</plist>