<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commonUI/res/lk/HuoDongPopUI/chongzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1968,120},{52,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,26}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/czhd1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1348,102},{245,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/czhd2.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,1},{247,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/czjh1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1595,102},{245,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/czjh2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,55},{247,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/dixming.png</key>
			<dict>
				<key>frame</key>
				<string>{{1901,278},{142,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,27}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/huodongjieshao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1968,79},{79,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,19}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/huodongshijian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1968,100},{79,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,18}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/leijichongzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1943,250},{100,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,26}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/leijixiaofei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1842,235},{99,27}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,27}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/ljxf1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1348,201},{245,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/ljxf2.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,55},{247,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/ttzb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1595,201},{245,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/ttzb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,1},{247,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/xianjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1968,148},{57,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,22}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/yuanjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1842,264},{57,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,22}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/chongzhi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1836,340},{142,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,25}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/cjhl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,203},{245,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/cjhl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1119,1},{247,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/mrth1.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,203},{245,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/mrth2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1368,1},{247,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/hhsc1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1095,203},{245,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/hhsc2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1617,1},{247,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/ykjl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1342,300},{245,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/ykjl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,102},{247,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/hhscxuyao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{618,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{618,52}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/hhwanc.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,55},{100,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,76}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/hhwuc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1866,1},{100,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,76}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/hhyex.png</key>
			<dict>
				<key>frame</key>
				<string>{{1842,157},{99,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,76}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/mrlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1866,79},{100,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,76}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/tili.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,356},{302,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,50}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/yklb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1943,172},{99,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,76}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/dzlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,133},{100,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,76}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/dzshl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1589,300},{245,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/dzshl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,156},{247,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/qwdz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1836,307},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/myqd1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,257},{245,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/myqd2.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,156},{247,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/zaixian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1968,1},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,600}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/zxlb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,257},{245,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/zxlb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,102},{247,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/15tdl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,302},{245,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/15tdl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,102},{247,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>HuoDongPopUI_Text.png</string>
			<key>realTextureFileName</key>
			<string>HuoDongPopUI_Text.png</string>
			<key>size</key>
			<string>{2048,407}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>407</integer>
		</dict>
	</dict>
</plist>